body {
	margin: 0 auto;
	width: 100%;
	max-width: 620px;
	text-align: center;
	font-family: Arial, "Courier New", Courier, "Times New Roman";
	font-size: 14px;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
form {
	display: inline-block;
	margin: 0 auto;
}
textarea {
	width: 180px;
	padding: 2px;
    border-color: hsl(120, 50%, 50%);
}
table {
	max-width: 310px;
    border: 1px solid #bbb;
	padding: 5px;
	text-align: left;
	margin: 10px auto;
	margin-bottom: 0px;
	overflow: auto;
}
title {
    color: red;
}
p {
    text-align: center;
}
div {
	display: block;
}
img {
	max-width: 80%;
	max-height: 80%;
	border: 1px solid #bbb;
	margin: 10px;
}
select {
	font-size: 14px;
	height: 20px;
	border: 1px solid #bbb;
	width: 80px;
	cursor: pointer;
}
input[type=date] {
	cursor: pointer;
}
.recaptcha_area {
	margin: 0 auto;
}
.item {
	position: relative;
	height: 100%;
	min-height: 195px;
	margin-top: 10px;
	border: 1px solid #bbb;
}
.item_big {
	position: relative;
	height: 100%;
	min-height: 290px;
	margin-top: 10px;
	border: 1px solid #bbb;
}
.full {
	width: 98%;
	max-width:600px;
	margin:0 auto;
	border-bottom: 1px solid #bbb;
}
.image {
	width: 48%;
	max-width: 290px;
	float: left;
}
.content {
	position: relative;
	width: 48%;
	height: 100%;
	max-width: 290px;
	float: right;
	margin: 0 auto;
	padding: 10px;
	overflow: auto;
}
.clear {
	clear: both;
	font-size: 0px;
	height: 0px;
}
.help {
	padding: 2px;
    font-size: 90%;
	cursor: default;
}
.error {
	cursor: default;
	color: red;
	padding: 2px;
    font-size: 70%;
}
.footer {
	border-top: 1px solid #bbb;
	padding-top: 10px;
	margin-top: 15px;
	width: 100%;
	word-spacing: 15px;
}
.resizedTextbox {
	width: 180px;
	height: 20px;
	padding: 2px;
}
.small_table {
	max-width: 250px;
	max-height: 132px;
	text-align: left;
}
.item_table {
	max-width: 280px;
	text-align: left;
}
td {
	padding: 2px;
	vertical-align: middle;
}
input:required {
    border: 1px solid #bbb;
}
input:optional {
    border: 1px solid hsl(180, 50%, 90%);
}
input:valid {
    border-color: hsl(120, 50%, 50%);
}
input:invalid {
    background: hsl(0, 50%, 90%);
}
input[type=submit] {
	margin-top: 5px;
	padding: 5px 15px;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #DDD;
	border: 1px solid #bbb;
}
.item-title {
	font-size: 18px;
	text-align: center;
}
.item-created {
	padding-top: 5px;
	padding-right: 5px;
	float: right;
	color: #888;
	font-size: 12px;
}
.tag {
	padding: 5px;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #EEE;
	border: 1px solid #bbb;
}
